In [60]:
import pandas as pd
import os
import requests
from pathlib import Path

# 1. Country code 3 digit from IMF

In [61]:
BASE_API = "https://www.imf.org/external/datamapper/api/v1/countries"

In [62]:
r = requests.get(BASE_API)

In [63]:
if r.status_code == 200:
    print("Success!")
elif r.status_code == 404:
    print("Error!!!")

Success!

In [64]:
r.headers['Content-Type']

'application/json'

In [65]:
data_json = r.json()
countries = data_json['countries']
countries

{'ABW': {'label': 'Aruba'},
 'AFG': {'label': 'Afghanistan'},
 'AGO': {'label': 'Angola'},
 'AIA': {'label': 'Anguilla'},
 'ALB': {'label': 'Albania'},
 'ARE': {'label': 'United Arab Emirates'},
 'ARG': {'label': 'Argentina'},
 'ARM': {'label': 'Armenia'},
 'ASM': {'label': 'American Samoa'},
 'ATG': {'label': 'Antigua and Barbuda'},
 'AUS': {'label': 'Australia'},
 'AUT': {'label': 'Austria'},
 'AZE': {'label': 'Azerbaijan'},
 'BDI': {'label': 'Burundi'},
 'BEL': {'label': 'Belgium'},
 'BEN': {'label': 'Benin'},
 'BFA': {'label': 'Burkina Faso'},
 'BGD': {'label': 'Bangladesh'},
 'BGR': {'label': 'Bulgaria'},
 'BHR': {'label': 'Bahrain'},
 'BHS': {'label': 'Bahamas, The'},
 'BIH': {'label': 'Bosnia and Herzegovina'},
 'BLR': {'label': 'Belarus'},
 'BLZ': {'label': 'Belize'},
 'BMU': {'label': 'Bermuda'},
 'BOL': {'label': 'Bolivia'},
 'BRA': {'label': 'Brazil'},
 'BRB': {'label': 'Barbados'},
 'BRN': {'label': 'Brunei Darussalam'},
 'BTN': {'label': 'Bhutan'},
 'BWA': {'label': 'Botswana'},
 'CAF': {'label': 'Central African Republic'},
 'CAN': {'label': 'Canada'},
 'CHE': {'label': 'Switzerland'},
 'CHI': {'label': 'Channel Islands'},
 'CHL': {'label': 'Chile'},
 'CHN': {'label': "China, People's Republic of"},
 'CIV': {'label': "Côte d'Ivoire"},
 'CMR': {'label': 'Cameroon'},
 'COD': {'label': 'Congo, Dem. Rep. of the'},
 'COG': {'label': 'Congo, Republic of '},
 'COK': {'label': 'Cook Islands'},
 'COL': {'label': 'Colombia'},
 'COM': {'label': 'Comoros'},
 'CPV': {'label': 'Cabo Verde'},
 'CRI': {'label': 'Costa Rica'},
 'CUB': {'label': 'Cuba'},
 'CYM': {'label': 'Cayman Islands'},
 'CYP': {'label': 'Cyprus'},
 'CZE': {'label': 'Czech Republic'},
 'DEU': {'label': 'Germany'},
 'DJI': {'label': 'Djibouti'},
 'DMA': {'label': 'Dominica'},
 'DNK': {'label': 'Denmark'},
 'DOM': {'label': 'Dominican Republic'},
 'DZA': {'label': 'Algeria'},
 'ECU': {'label': 'Ecuador'},
 'EGY': {'label': 'Egypt'},
 'ERI': {'label': 'Eritrea'},
 'ESH': {'label': 'Western Sahara'},
 'ESP': {'label': 'Spain'},
 'EST': {'label': 'Estonia'},
 'ETH': {'label': 'Ethiopia'},
 'FIN': {'label': 'Finland'},
 'FJI': {'label': 'Fiji'},
 'FLK': {'label': 'Falkland Islands'},
 'FRA': {'label': 'France'},
 'FRO': {'label': 'Faeroe Islands'},
 'FSM': {'label': 'Micronesia, Fed. States of'},
 'GAB': {'label': 'Gabon'},
 'GBR': {'label': 'United Kingdom'},
 'GEO': {'label': 'Georgia'},
 'GHA': {'label': 'Ghana'},
 'GIB': {'label': 'Gibraltar'},
 'GIN': {'label': 'Guinea'},
 'GLP': {'label': 'Guadeloupe'},
 'GMB': {'label': 'Gambia, The'},
 'GNB': {'label': 'Guinea-Bissau'},
 'GNQ': {'label': 'Equatorial Guinea'},
 'GRC': {'label': 'Greece'},
 'GRD': {'label': 'Grenada'},
 'GRL': {'label': 'Greenland'},
 'GTM': {'label': 'Guatemala'},
 'GUF': {'label': 'French Guiana'},
 'GUM': {'label': 'Guam'},
 'GUY': {'label': 'Guyana'},
 'HKG': {'label': 'Hong Kong SAR'},
 'HND': {'label': 'Honduras'},
 'HRV': {'label': 'Croatia'},
 'HTI': {'label': 'Haiti'},
 'HUN': {'label': 'Hungary'},
 'IDN': {'label': 'Indonesia'},
 'IMY': {'label': 'Isle of Man'},
 'IND': {'label': 'India'},
 'IRL': {'label': 'Ireland'},
 'IRN': {'label': 'Iran'},
 'IRQ': {'label': 'Iraq'},
 'ISL': {'label': 'Iceland'},
 'ISR': {'label': 'Israel'},
 'ITA': {'label': 'Italy'},
 'JAM': {'label': 'Jamaica'},
 'JOR': {'label': 'Jordan'},
 'JPN': {'label': 'Japan'},
 'KAZ': {'label': 'Kazakhstan'},
 'KEN': {'label': 'Kenya'},
 'KGZ': {'label': 'Kyrgyz Republic'},
 'KHM': {'label': 'Cambodia'},
 'KIR': {'label': 'Kiribati'},
 'KNA': {'label': 'Saint Kitts and Nevis'},
 'KOR': {'label': 'Korea, Republic of'},
 'KWT': {'label': 'Kuwait'},
 'LAO': {'label': 'Lao P.D.R.'},
 'LBN': {'label': 'Lebanon'},
 'LBR': {'label': 'Liberia'},
 'LBY': {'label': 'Libya'},
 'LCA': {'label': 'Saint Lucia'},
 'LIE': {'label': 'Liechtenstein'},
 'LKA': {'label': 'Sri Lanka'},
 'LSO': {'label': 'Lesotho'},
 'LTU': {'label': 'Lithuania'},
 'LUX': {'label': 'Luxembourg'},
 'LVA': {'label': 'Latvia'},
 'MAC': {'label': 'Macao SAR'},
 'MAR': {'label': 'Morocco'},
 'MCO': {'label': 'Monaco'},
 'MDA': {'label': 'Moldova'},
 'MDG': {'label': 'Madagascar'},
 'MDV': {'label': 'Maldives'},
 'MEX': {'label': 'Mexico'},
 'MHL': {'label': 'Marshall Islands'},
 'MKD': {'label': 'North Macedonia '},
 'MLI': {'label': 'Mali'},
 'MLT': {'label': 'Malta'},
 'MMR': {'label': 'Myanmar'},
 'MNE': {'label': 'Montenegro'},
 'MNG': {'label': 'Mongolia'},
 'MNP': {'label': 'Northern Mariana Islands'},
 'MOZ': {'label': 'Mozambique'},
 'MRT': {'label': 'Mauritania'},
 'MSR': {'label': 'Montserrat'},
 'MTQ': {'label': 'Martinique'},
 'MUS': {'label': 'Mauritius'},
 'MWI': {'label': 'Malawi'},
 'MYS': {'label': 'Malaysia'},
 'MYT': {'label': 'Mayotte'},
 'NAM': {'label': 'Namibia'},
 'NCL': {'label': 'New Caledonia'},
 'NER': {'label': 'Niger'},
 'NGA': {'label': 'Nigeria'},
 'NIC': {'label': 'Nicaragua'},
 'NIU': {'label': 'Niue'},
 'NLD': {'label': 'Netherlands'},
 'NOR': {'label': 'Norway'},
 'NPL': {'label': 'Nepal'},
 'NRU': {'label': 'Nauru'},
 'NZL': {'label': 'New Zealand'},
 'OMN': {'label': 'Oman'},
 'PAK': {'label': 'Pakistan'},
 'PAN': {'label': 'Panama'},
 'PCN': {'label': 'Pitcairn'},
 'PER': {'label': 'Peru'},
 'PHL': {'label': 'Philippines'},
 'PLW': {'label': 'Palau'},
 'PNG': {'label': 'Papua New Guinea'},
 'POL': {'label': 'Poland'},
 'PRI': {'label': 'Puerto Rico'},
 'PRK': {'label': "Korea, Dem. People's Rep. of"},
 'PRT': {'label': 'Portugal'},
 'PRY': {'label': 'Paraguay'},
 'PYF': {'label': 'French Polynesia'},
 'QAT': {'label': 'Qatar'},
 'REU': {'label': 'Reunion'},
 'ROU': {'label': 'Romania'},
 'RUS': {'label': 'Russian Federation'},
 'RWA': {'label': 'Rwanda'},
 'SAU': {'label': 'Saudi Arabia'},
 'SDN': {'label': 'Sudan'},
 'SEN': {'label': 'Senegal'},
 'SGP': {'label': 'Singapore'},
 'SHN': {'label': 'Saint Helena'},
 'SJM': {'label': 'Svalbard and Jan Mayen Islands'},
 'SLB': {'label': 'Solomon Islands'},
 'SLE': {'label': 'Sierra Leone'},
 'SLV': {'label': 'El Salvador'},
 'SMR': {'label': 'San Marino'},
 'SOM': {'label': 'Somalia'},
 'SPM': {'label': 'Saint-Pierre and Miquelon'},
 'SRB': {'label': 'Serbia'},
 'STP': {'label': 'São Tomé and Príncipe'},
 'SUR': {'label': 'Suriname'},
 'SVK': {'label': 'Slovak Republic'},
 'SVN': {'label': 'Slovenia'},
 'SWE': {'label': 'Sweden'},
 'SWZ': {'label': 'Eswatini'},
 'SYC': {'label': 'Seychelles'},
 'SYR': {'label': 'Syria'},
 'TCA': {'label': 'Turks and Caicos Islands'},
 'TCD': {'label': 'Chad'},
 'TGO': {'label': 'Togo'},
 'THA': {'label': 'Thailand'},
 'TJK': {'label': 'Tajikistan'},
 'TKL': {'label': 'Tokelau'},
 'TKM': {'label': 'Turkmenistan'},
 'TLS': {'label': 'Timor-Leste'},
 'TON': {'label': 'Tonga'},
 'TTO': {'label': 'Trinidad and Tobago'},
 'TUN': {'label': 'Tunisia'},
 'TUR': {'label': 'Türkiye, Republic of'},
 'TUV': {'label': 'Tuvalu'},
 'TWN': {'label': 'Taiwan Province of China'},
 'TZA': {'label': 'Tanzania'},
 'UGA': {'label': 'Uganda'},
 'UKR': {'label': 'Ukraine'},
 'URY': {'label': 'Uruguay'},
 'USA': {'label': 'United States'},
 'UZB': {'label': 'Uzbekistan'},
 'VAT': {'label': 'Holy See'},
 'VCT': {'label': 'Saint Vincent and the Grenadines'},
 'VEN': {'label': 'Venezuela'},
 'VGB': {'label': 'British Virgin Islands'},
 'VIR': {'label': 'United States Virgin Islands '},
 'VNM': {'label': 'Vietnam'},
 'VUT': {'label': 'Vanuatu'},
 'WBG': {'label': 'West Bank and Gaza'},
 'WLF': {'label': 'Wallis and Futuna Islands'},
 'WSM': {'label': 'Samoa'},
 'YEM': {'label': 'Yemen'},
 'ZAF': {'label': 'South Africa'},
 'ZMB': {'label': 'Zambia'},
 'ZWE': {'label': 'Zimbabwe'},
 'SSD': {'label': 'South Sudan, Republic of'},
 'CUW': {'label': 'Curacao'},
 'MFX': {'label': 'Saint Martin'},
 'SXM': {'label': 'Sint Maarten'},
 'ATI': {'label': None},
 'ATL': {'label': None},
 'AND': {'label': 'Andorra'},
 'IOT': {'label': 'British Indian Ocean Territories'},
 'BES': {'label': 'Bonaire, Sint Eustatius and Saba'},
 'KOS': {'label': 'Kosovo'},
 'UVK': {'label': 'Kosovo'}}

In [66]:
country_list = []
for country_code, label in countries.items():
    country_list.append({'code':country_code, 'country_name': label['label']})

In [67]:
country_list

[{'code': 'ABW', 'country_name': 'Aruba'},
 {'code': 'AFG', 'country_name': 'Afghanistan'},
 {'code': 'AGO', 'country_name': 'Angola'},
 {'code': 'AIA', 'country_name': 'Anguilla'},
 {'code': 'ALB', 'country_name': 'Albania'},
 {'code': 'ARE', 'country_name': 'United Arab Emirates'},
 {'code': 'ARG', 'country_name': 'Argentina'},
 {'code': 'ARM', 'country_name': 'Armenia'},
 {'code': 'ASM', 'country_name': 'American Samoa'},
 {'code': 'ATG', 'country_name': 'Antigua and Barbuda'},
 {'code': 'AUS', 'country_name': 'Australia'},
 {'code': 'AUT', 'country_name': 'Austria'},
 {'code': 'AZE', 'country_name': 'Azerbaijan'},
 {'code': 'BDI', 'country_name': 'Burundi'},
 {'code': 'BEL', 'country_name': 'Belgium'},
 {'code': 'BEN', 'country_name': 'Benin'},
 {'code': 'BFA', 'country_name': 'Burkina Faso'},
 {'code': 'BGD', 'country_name': 'Bangladesh'},
 {'code': 'BGR', 'country_name': 'Bulgaria'},
 {'code': 'BHR', 'country_name': 'Bahrain'},
 {'code': 'BHS', 'country_name': 'Bahamas, The'},
 {'code': 'BIH', 'country_name': 'Bosnia and Herzegovina'},
 {'code': 'BLR', 'country_name': 'Belarus'},
 {'code': 'BLZ', 'country_name': 'Belize'},
 {'code': 'BMU', 'country_name': 'Bermuda'},
 {'code': 'BOL', 'country_name': 'Bolivia'},
 {'code': 'BRA', 'country_name': 'Brazil'},
 {'code': 'BRB', 'country_name': 'Barbados'},
 {'code': 'BRN', 'country_name': 'Brunei Darussalam'},
 {'code': 'BTN', 'country_name': 'Bhutan'},
 {'code': 'BWA', 'country_name': 'Botswana'},
 {'code': 'CAF', 'country_name': 'Central African Republic'},
 {'code': 'CAN', 'country_name': 'Canada'},
 {'code': 'CHE', 'country_name': 'Switzerland'},
 {'code': 'CHI', 'country_name': 'Channel Islands'},
 {'code': 'CHL', 'country_name': 'Chile'},
 {'code': 'CHN', 'country_name': "China, People's Republic of"},
 {'code': 'CIV', 'country_name': "Côte d'Ivoire"},
 {'code': 'CMR', 'country_name': 'Cameroon'},
 {'code': 'COD', 'country_name': 'Congo, Dem. Rep. of the'},
 {'code': 'COG', 'country_name': 'Congo, Republic of '},
 {'code': 'COK', 'country_name': 'Cook Islands'},
 {'code': 'COL', 'country_name': 'Colombia'},
 {'code': 'COM', 'country_name': 'Comoros'},
 {'code': 'CPV', 'country_name': 'Cabo Verde'},
 {'code': 'CRI', 'country_name': 'Costa Rica'},
 {'code': 'CUB', 'country_name': 'Cuba'},
 {'code': 'CYM', 'country_name': 'Cayman Islands'},
 {'code': 'CYP', 'country_name': 'Cyprus'},
 {'code': 'CZE', 'country_name': 'Czech Republic'},
 {'code': 'DEU', 'country_name': 'Germany'},
 {'code': 'DJI', 'country_name': 'Djibouti'},
 {'code': 'DMA', 'country_name': 'Dominica'},
 {'code': 'DNK', 'country_name': 'Denmark'},
 {'code': 'DOM', 'country_name': 'Dominican Republic'},
 {'code': 'DZA', 'country_name': 'Algeria'},
 {'code': 'ECU', 'country_name': 'Ecuador'},
 {'code': 'EGY', 'country_name': 'Egypt'},
 {'code': 'ERI', 'country_name': 'Eritrea'},
 {'code': 'ESH', 'country_name': 'Western Sahara'},
 {'code': 'ESP', 'country_name': 'Spain'},
 {'code': 'EST', 'country_name': 'Estonia'},
 {'code': 'ETH', 'country_name': 'Ethiopia'},
 {'code': 'FIN', 'country_name': 'Finland'},
 {'code': 'FJI', 'country_name': 'Fiji'},
 {'code': 'FLK', 'country_name': 'Falkland Islands'},
 {'code': 'FRA', 'country_name': 'France'},
 {'code': 'FRO', 'country_name': 'Faeroe Islands'},
 {'code': 'FSM', 'country_name': 'Micronesia, Fed. States of'},
 {'code': 'GAB', 'country_name': 'Gabon'},
 {'code': 'GBR', 'country_name': 'United Kingdom'},
 {'code': 'GEO', 'country_name': 'Georgia'},
 {'code': 'GHA', 'country_name': 'Ghana'},
 {'code': 'GIB', 'country_name': 'Gibraltar'},
 {'code': 'GIN', 'country_name': 'Guinea'},
 {'code': 'GLP', 'country_name': 'Guadeloupe'},
 {'code': 'GMB', 'country_name': 'Gambia, The'},
 {'code': 'GNB', 'country_name': 'Guinea-Bissau'},
 {'code': 'GNQ', 'country_name': 'Equatorial Guinea'},
 {'code': 'GRC', 'country_name': 'Greece'},
 {'code': 'GRD', 'country_name': 'Grenada'},
 {'code': 'GRL', 'country_name': 'Greenland'},
 {'code': 'GTM', 'country_name': 'Guatemala'},
 {'code': 'GUF', 'country_name': 'French Guiana'},
 {'code': 'GUM', 'country_name': 'Guam'},
 {'code': 'GUY', 'country_name': 'Guyana'},
 {'code': 'HKG', 'country_name': 'Hong Kong SAR'},
 {'code': 'HND', 'country_name': 'Honduras'},
 {'code': 'HRV', 'country_name': 'Croatia'},
 {'code': 'HTI', 'country_name': 'Haiti'},
 {'code': 'HUN', 'country_name': 'Hungary'},
 {'code': 'IDN', 'country_name': 'Indonesia'},
 {'code': 'IMY', 'country_name': 'Isle of Man'},
 {'code': 'IND', 'country_name': 'India'},
 {'code': 'IRL', 'country_name': 'Ireland'},
 {'code': 'IRN', 'country_name': 'Iran'},
 {'code': 'IRQ', 'country_name': 'Iraq'},
 {'code': 'ISL', 'country_name': 'Iceland'},
 {'code': 'ISR', 'country_name': 'Israel'},
 {'code': 'ITA', 'country_name': 'Italy'},
 {'code': 'JAM', 'country_name': 'Jamaica'},
 {'code': 'JOR', 'country_name': 'Jordan'},
 {'code': 'JPN', 'country_name': 'Japan'},
 {'code': 'KAZ', 'country_name': 'Kazakhstan'},
 {'code': 'KEN', 'country_name': 'Kenya'},
 {'code': 'KGZ', 'country_name': 'Kyrgyz Republic'},
 {'code': 'KHM', 'country_name': 'Cambodia'},
 {'code': 'KIR', 'country_name': 'Kiribati'},
 {'code': 'KNA', 'country_name': 'Saint Kitts and Nevis'},
 {'code': 'KOR', 'country_name': 'Korea, Republic of'},
 {'code': 'KWT', 'country_name': 'Kuwait'},
 {'code': 'LAO', 'country_name': 'Lao P.D.R.'},
 {'code': 'LBN', 'country_name': 'Lebanon'},
 {'code': 'LBR', 'country_name': 'Liberia'},
 {'code': 'LBY', 'country_name': 'Libya'},
 {'code': 'LCA', 'country_name': 'Saint Lucia'},
 {'code': 'LIE', 'country_name': 'Liechtenstein'},
 {'code': 'LKA', 'country_name': 'Sri Lanka'},
 {'code': 'LSO', 'country_name': 'Lesotho'},
 {'code': 'LTU', 'country_name': 'Lithuania'},
 {'code': 'LUX', 'country_name': 'Luxembourg'},
 {'code': 'LVA', 'country_name': 'Latvia'},
 {'code': 'MAC', 'country_name': 'Macao SAR'},
 {'code': 'MAR', 'country_name': 'Morocco'},
 {'code': 'MCO', 'country_name': 'Monaco'},
 {'code': 'MDA', 'country_name': 'Moldova'},
 {'code': 'MDG', 'country_name': 'Madagascar'},
 {'code': 'MDV', 'country_name': 'Maldives'},
 {'code': 'MEX', 'country_name': 'Mexico'},
 {'code': 'MHL', 'country_name': 'Marshall Islands'},
 {'code': 'MKD', 'country_name': 'North Macedonia '},
 {'code': 'MLI', 'country_name': 'Mali'},
 {'code': 'MLT', 'country_name': 'Malta'},
 {'code': 'MMR', 'country_name': 'Myanmar'},
 {'code': 'MNE', 'country_name': 'Montenegro'},
 {'code': 'MNG', 'country_name': 'Mongolia'},
 {'code': 'MNP', 'country_name': 'Northern Mariana Islands'},
 {'code': 'MOZ', 'country_name': 'Mozambique'},
 {'code': 'MRT', 'country_name': 'Mauritania'},
 {'code': 'MSR', 'country_name': 'Montserrat'},
 {'code': 'MTQ', 'country_name': 'Martinique'},
 {'code': 'MUS', 'country_name': 'Mauritius'},
 {'code': 'MWI', 'country_name': 'Malawi'},
 {'code': 'MYS', 'country_name': 'Malaysia'},
 {'code': 'MYT', 'country_name': 'Mayotte'},
 {'code': 'NAM', 'country_name': 'Namibia'},
 {'code': 'NCL', 'country_name': 'New Caledonia'},
 {'code': 'NER', 'country_name': 'Niger'},
 {'code': 'NGA', 'country_name': 'Nigeria'},
 {'code': 'NIC', 'country_name': 'Nicaragua'},
 {'code': 'NIU', 'country_name': 'Niue'},
 {'code': 'NLD', 'country_name': 'Netherlands'},
 {'code': 'NOR', 'country_name': 'Norway'},
 {'code': 'NPL', 'country_name': 'Nepal'},
 {'code': 'NRU', 'country_name': 'Nauru'},
 {'code': 'NZL', 'country_name': 'New Zealand'},
 {'code': 'OMN', 'country_name': 'Oman'},
 {'code': 'PAK', 'country_name': 'Pakistan'},
 {'code': 'PAN', 'country_name': 'Panama'},
 {'code': 'PCN', 'country_name': 'Pitcairn'},
 {'code': 'PER', 'country_name': 'Peru'},
 {'code': 'PHL', 'country_name': 'Philippines'},
 {'code': 'PLW', 'country_name': 'Palau'},
 {'code': 'PNG', 'country_name': 'Papua New Guinea'},
 {'code': 'POL', 'country_name': 'Poland'},
 {'code': 'PRI', 'country_name': 'Puerto Rico'},
 {'code': 'PRK', 'country_name': "Korea, Dem. People's Rep. of"},
 {'code': 'PRT', 'country_name': 'Portugal'},
 {'code': 'PRY', 'country_name': 'Paraguay'},
 {'code': 'PYF', 'country_name': 'French Polynesia'},
 {'code': 'QAT', 'country_name': 'Qatar'},
 {'code': 'REU', 'country_name': 'Reunion'},
 {'code': 'ROU', 'country_name': 'Romania'},
 {'code': 'RUS', 'country_name': 'Russian Federation'},
 {'code': 'RWA', 'country_name': 'Rwanda'},
 {'code': 'SAU', 'country_name': 'Saudi Arabia'},
 {'code': 'SDN', 'country_name': 'Sudan'},
 {'code': 'SEN', 'country_name': 'Senegal'},
 {'code': 'SGP', 'country_name': 'Singapore'},
 {'code': 'SHN', 'country_name': 'Saint Helena'},
 {'code': 'SJM', 'country_name': 'Svalbard and Jan Mayen Islands'},
 {'code': 'SLB', 'country_name': 'Solomon Islands'},
 {'code': 'SLE', 'country_name': 'Sierra Leone'},
 {'code': 'SLV', 'country_name': 'El Salvador'},
 {'code': 'SMR', 'country_name': 'San Marino'},
 {'code': 'SOM', 'country_name': 'Somalia'},
 {'code': 'SPM', 'country_name': 'Saint-Pierre and Miquelon'},
 {'code': 'SRB', 'country_name': 'Serbia'},
 {'code': 'STP', 'country_name': 'São Tomé and Príncipe'},
 {'code': 'SUR', 'country_name': 'Suriname'},
 {'code': 'SVK', 'country_name': 'Slovak Republic'},
 {'code': 'SVN', 'country_name': 'Slovenia'},
 {'code': 'SWE', 'country_name': 'Sweden'},
 {'code': 'SWZ', 'country_name': 'Eswatini'},
 {'code': 'SYC', 'country_name': 'Seychelles'},
 {'code': 'SYR', 'country_name': 'Syria'},
 {'code': 'TCA', 'country_name': 'Turks and Caicos Islands'},
 {'code': 'TCD', 'country_name': 'Chad'},
 {'code': 'TGO', 'country_name': 'Togo'},
 {'code': 'THA', 'country_name': 'Thailand'},
 {'code': 'TJK', 'country_name': 'Tajikistan'},
 {'code': 'TKL', 'country_name': 'Tokelau'},
 {'code': 'TKM', 'country_name': 'Turkmenistan'},
 {'code': 'TLS', 'country_name': 'Timor-Leste'},
 {'code': 'TON', 'country_name': 'Tonga'},
 {'code': 'TTO', 'country_name': 'Trinidad and Tobago'},
 {'code': 'TUN', 'country_name': 'Tunisia'},
 {'code': 'TUR', 'country_name': 'Türkiye, Republic of'},
 {'code': 'TUV', 'country_name': 'Tuvalu'},
 {'code': 'TWN', 'country_name': 'Taiwan Province of China'},
 {'code': 'TZA', 'country_name': 'Tanzania'},
 {'code': 'UGA', 'country_name': 'Uganda'},
 {'code': 'UKR', 'country_name': 'Ukraine'},
 {'code': 'URY', 'country_name': 'Uruguay'},
 {'code': 'USA', 'country_name': 'United States'},
 {'code': 'UZB', 'country_name': 'Uzbekistan'},
 {'code': 'VAT', 'country_name': 'Holy See'},
 {'code': 'VCT', 'country_name': 'Saint Vincent and the Grenadines'},
 {'code': 'VEN', 'country_name': 'Venezuela'},
 {'code': 'VGB', 'country_name': 'British Virgin Islands'},
 {'code': 'VIR', 'country_name': 'United States Virgin Islands '},
 {'code': 'VNM', 'country_name': 'Vietnam'},
 {'code': 'VUT', 'country_name': 'Vanuatu'},
 {'code': 'WBG', 'country_name': 'West Bank and Gaza'},
 {'code': 'WLF', 'country_name': 'Wallis and Futuna Islands'},
 {'code': 'WSM', 'country_name': 'Samoa'},
 {'code': 'YEM', 'country_name': 'Yemen'},
 {'code': 'ZAF', 'country_name': 'South Africa'},
 {'code': 'ZMB', 'country_name': 'Zambia'},
 {'code': 'ZWE', 'country_name': 'Zimbabwe'},
 {'code': 'SSD', 'country_name': 'South Sudan, Republic of'},
 {'code': 'CUW', 'country_name': 'Curacao'},
 {'code': 'MFX', 'country_name': 'Saint Martin'},
 {'code': 'SXM', 'country_name': 'Sint Maarten'},
 {'code': 'ATI', 'country_name': None},
 {'code': 'ATL', 'country_name': None},
 {'code': 'AND', 'country_name': 'Andorra'},
 {'code': 'IOT', 'country_name': 'British Indian Ocean Territories'},
 {'code': 'BES', 'country_name': 'Bonaire, Sint Eustatius and Saba'},
 {'code': 'KOS', 'country_name': 'Kosovo'},
 {'code': 'UVK', 'country_name': 'Kosovo'}]

In [68]:
countries_list = pd.DataFrame(country_list)
countries_list

    code                      country_name
0    ABW                             Aruba
1    AFG                       Afghanistan
2    AGO                            Angola
3    AIA                          Anguilla
4    ALB                           Albania
..   ...                               ...
236  AND                           Andorra
237  IOT  British Indian Ocean Territories
238  BES  Bonaire, Sint Eustatius and Saba
239  KOS                            Kosovo
240  UVK                            Kosovo

[241 rows x 2 columns]

In [69]:
countries_list.isna().sum()

code            0
country_name    2
dtype: int64

In [70]:
countries_list[countries_list.isna().any(axis=1)]

    code country_name
234  ATI         None
235  ATL         None

In [71]:
countries_list = countries_list[countries_list['country_name'].notna()]

In [72]:
countries_list.isna().sum()

code            0
country_name    0
dtype: int64

In [73]:
countries_list=countries_list.drop_duplicates()

# 2. Country code 2 digit

In [74]:
data_csv = "data_source/country_iso_2_digit.csv"

In [75]:
path_csv = Path.cwd().parent / data_csv
path_csv

WindowsPath('C:/Users/deepa/OneDrive - DSTI School of Engineering/Desktop/UDEMY_Projects/IMF_GDP/data_source/country_iso_2_digit.csv')

In [76]:
iso_df = pd.read_csv(path_csv, encoding = 'utf-8')
iso_df

                  Name Code
0          Afghanistan   AF
1        Åland Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]

# 3. Combining 2 dfs

In [77]:
df_iso2 = pd.merge(iso_df, countries_list, how = 'inner', left_on= 'Name', right_on= 'country_name')
df_iso2

               Name Code code    country_name
0       Afghanistan   AF  AFG     Afghanistan
1           Albania   AL  ALB         Albania
2           Algeria   DZ  DZA         Algeria
3    American Samoa   AS  ASM  American Samoa
4           Andorra   AD  AND         Andorra
..              ...  ...  ...             ...
191         Vanuatu   VU  VUT         Vanuatu
192  Western Sahara   EH  ESH  Western Sahara
193           Yemen   YE  YEM           Yemen
194          Zambia   ZM  ZMB          Zambia
195        Zimbabwe   ZW  ZWE        Zimbabwe

[196 rows x 4 columns]

In [78]:
# Drop the extra country_name column
df_iso2 = df_iso2.drop(columns =['Name'], axis=1)
df_iso2

    Code code    country_name
0     AF  AFG     Afghanistan
1     AL  ALB         Albania
2     DZ  DZA         Algeria
3     AS  ASM  American Samoa
4     AD  AND         Andorra
..   ...  ...             ...
191   VU  VUT         Vanuatu
192   EH  ESH  Western Sahara
193   YE  YEM           Yemen
194   ZM  ZMB          Zambia
195   ZW  ZWE        Zimbabwe

[196 rows x 3 columns]

In [79]:
df_iso2= df_iso2.rename(columns = {'Code':'iso_code_2', 'code':'iso_code_3'})

In [80]:
df_iso2

    iso_code_2 iso_code_3    country_name
0           AF        AFG     Afghanistan
1           AL        ALB         Albania
2           DZ        DZA         Algeria
3           AS        ASM  American Samoa
4           AD        AND         Andorra
..         ...        ...             ...
191         VU        VUT         Vanuatu
192         EH        ESH  Western Sahara
193         YE        YEM           Yemen
194         ZM        ZMB          Zambia
195         ZW        ZWE        Zimbabwe

[196 rows x 3 columns]

In [81]:
# Re-ordering columns
df_iso = df_iso2[['country_name', 'iso_code_2', 'iso_code_3']]
df_iso

       country_name iso_code_2 iso_code_3
0       Afghanistan         AF        AFG
1           Albania         AL        ALB
2           Algeria         DZ        DZA
3    American Samoa         AS        ASM
4           Andorra         AD        AND
..              ...        ...        ...
191         Vanuatu         VU        VUT
192  Western Sahara         EH        ESH
193           Yemen         YE        YEM
194          Zambia         ZM        ZMB
195        Zimbabwe         ZW        ZWE

[196 rows x 3 columns]

In [82]:
# Checking for Nans
df_iso.isna().sum()

country_name    0
iso_code_2      1
iso_code_3      0
dtype: int64

In [83]:
df_iso[df_iso.isna().any(axis=1)]

    country_name iso_code_2 iso_code_3
123      Namibia        NaN        NAM

In [84]:
df_iso[df_iso['country_name'] == 'Namibia']

    country_name iso_code_2 iso_code_3
123      Namibia        NaN        NAM

In [85]:
df_iso.loc[df_iso['country_name'] == 'Namibia', 'iso_code_2'] = 'NA'

In [86]:
df_iso.isna().sum()

country_name    0
iso_code_2      0
iso_code_3      0
dtype: int64

In [87]:
df_iso[df_iso['country_name'] == 'Afghanistan']

  country_name iso_code_2 iso_code_3
0  Afghanistan         AF        AFG

# 3. Upload the table in the database - ISO code 2 digit & 3 digit

In [88]:
import pymysql

In [89]:
# Establish connection
connection = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'root',
    database = 'imf',
    port = 3306,
    autocommit= True
)

insert_query = '''
INSERT INTO `imf`.`country_code`
(`country_name`, `iso_code_2`, `iso_code_3`)
VALUES(%s, %s, %s)
on DUPLICATE KEY UPDATE
    iso_code_2 = VALUES(iso_code_2),
    iso_code_3 = VALUES(iso_code_3);
'''

cursor = connection.cursor()

for _,row in df_iso.iterrows():
    cursor.execute(insert_query,(
        row['country_name'],
        row['iso_code_2'],
        row['iso_code_3']
    )
)
connection.commit()
connection.close()

if connection.open:
    print('Connection is still open')
else:
    print('Connection is closed')

##### Its the end of the code!!!!!!

# 4. Upload Data to Database - Only 3 digit ISO Codes

In [90]:
# INSERT SQL code
insert_sql_2 = '''
    INSERT INTO `imf`.`country_code_ISO2`
    (country_name, code)
    VALUES(%s, %s)
'''

In [91]:
# Re-arrange the df
countries_list = countries_list[['country_name', 'code']]

In [92]:
cursor = connection.cursor()

In [93]:
for _, row in countries_list.iterrows():
    cursor.execute(insert_sql_2,
                  (row['country_name'],
                  row['code'])
                  )
connection.commit()
connection.close()